.wapper .header-contactus {
    background-image:url('/img/contactus.png');
    background-repeat:no-repeat;
    background-size: 100% 568px;
    height: 568px;
}
.wapper .contact-us h1{
    font-size: 60px;
    line-height:60px;
    color:#ffffff;
    background-color:none;
    margin: 150px auto;
}
.wapper .contact-us {
    width: 551px;
    height: 60px;
    margin: 0px auto;
}
.background-map img {
    /* background-image:url('/img/mapgo.png');
     width: 1440px; 
    height:auto ;
    margin: auto;
    background-repeat: no-repeat;
    background-size: 100%; */
    width: 100%;
    margin-top: 100px;
}
footer {
    margin:0px auto;
    /* width: 1440px; */
}
main div .side3 img {
    width: 4px;
    height:4px;
    margin : 0px 30px;
}
main div .side3  {
    /* padding-left: 20%; */
    margin:50px auto;
}
main .contact-group .contact-row {
    margin : 0px auto;
    width: 1100px;
    /* display: flex;
    flex-wrap: wrap; */
}
/* .contact-group .contact-row .contact-from {
    height: 324px;
} */
/* main .contact-group .contact-row .contact-background {
    width: 550px;

} */
main .contact-group .contact-row input,
main .contact-group .contact-row  textarea {
    width:100%;
    height: 50px;
    background-color:#F5F5F5;
    padding-left: 15px;
}
main .contact-group .contact-row  textarea  {
    height: 144px;
}
.contact-row h2 {
    margin: 0px ;
    font-size:32px;
    line-height:72px;
}
main .contact-group .contact-row p {
    margin: 20px 0px 30px;
}
 .contact-group .contact-row input[type=submit] {
    background-color:#FF7B42;
    border: none;
    color : #ffffff;
    width: 40%;
    height:44px;
    float:right;
    margin-top:15px;
}
.contact-group .contact-row .contact-background {
    background-image: url('/img/cat.png');
    width: 500px;
    height:564px ;
    background-repeat: no-repeat;
    background-size : 100%;
    /* margin-left:60px;  */
}
.contact-row .contact-background .contact-back-from {
    width: 420px;
    height: 352px;
    background-color:#1C1C1E;
     position : absolute; 
    margin-top:212px;
}
.contact-back-from h1,
.contact-back-from p {
    color:#ffffff;
}
.contact-back-from h1{
    margin-left:40px;
}

.contact-background .contact-back-from .contact-div P {
    margin:0px;
    font-size:14px;
}
.contact-div h6 {
    color:#FF7B42;
    margin:0px;
}
.contact-div {
    width:340px;
    height:50px;
    margin:10px auto;
    display: flex;
}
.contact-div  .icon-x2 {
    background-image: url('/img/icon/Ellipse\ 6.svg');
    background-repeat: no-repeat;
    height: 50px;
    padding-left: 10px;
    padding-top: 5px;
    width: 50px ;
    margin-right: 5px;
}
.wapper .header-listtour {
    background-image: url('/img/backgr-list.png');
    background-repeat: no-repeat;
    height: 400px;
}
.wapper .header-listtour .list-header-text {
    width: 60%;
    height: 200px;
    padding-left: 165px;
    margin-top: 97px;
}
.wapper .header-listtour .list-header-text p{
    color:  #FFF2CF;
}
.wapper .header-listtour .list-header-text h1 {
    margin-top:20px;
    color: #ffffff;
    font-size: 60px;
    line-height:60px;
}
.list-all {
    display: flex;
    flex-wrap: wrap;
}
.list-all .list-item {
    width: 350px;
    height: 400px;
    margin: 15px;
}
