.columnss .rela-list-item  .img-shape {
    margin-left: 80%;
}
@media (max-width: 768px) {
    .columnss .rela-list-item  .img-shape {
        margin-left: 70%;
    }
}
@media  (max-width: 375px) {
    .tour-detail-content {
        display: block;
    }
    .tour-show {
        width: 100%;
    }
    .tour-form-height,.tour-detail-form ,.check-form,.check-total{
        width: auto;
        height: auto;
    }
    .check-form ,.check-total{
        padding: 0px;
        margin: 0px;
    }
    .check-form input {
        padding: 0px 90px;
        width: 250px;
        margin: 10px auto;
        height: 30px;
    }
    .tour-detail-book .from-input-submit {
        width: 200px;
        margin: 10px 75px;
    }
    .tour-detail-total {
        padding: 0px 50px;
    }
    .check-form .check-form-flex {
        padding: 0px 50px;
    }
    .tour-detail-form .tour-from {
        padding: 20px 50px;
    }
    .next {
        margin-right: auto !important;
        padding-right: 31px;
    }
    .columnss .rela-list-item .img-shape {
        margin-left: 90%;
    }
    #dp_menu .main-menu {
        background-color: lightskyblue;
        color: azure;
    }
    .rela-list-item {
        margin: 20px 0px;
        padding: 0px;
    }
}