* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.wapper {
    width: 1440px;
    margin: auto ;
}
.content {
    height: 1700px ;
}
.list-tour-head ,
.sendmail {
    width: 100%;
    padding: 150px 0px 60px;
    max-width: none;
}
 .list-tour-head h2 {
    margin: 0px;
    padding: 0px;
    width: 50%;
}
.list-tour-head .disc-text,
.sendmail .mail-text{
    padding: 0px;
}
.list-tour-head .disc-view {
    margin: 40px auto;
    padding: 0px;
}
.sendmail .mail-text {
    margin-left: 144px;
}
.sendmail {
    height: 400px;
    padding: 0px;
}
.list-tour-head .disc-view .disc-view-a{
    width: 120px;
    background-color: black;
    height: 50px;
    text-align: center;
    padding: 10px;
    float: right;
}
.sendmail .mail-view  {
    display: flex;
    padding: 90px 0px 90px 200px;
}
.sendmail .mail-view ,
.sendmail .mail-text {
    margin-top: 100px;
}
.sendmail .mail-view input {
    width: 323px;
    padding-left: 50px;
    margin: 0px;
    height: 48px;
    background-image: url('/img/icon/mails.svg');
    background-repeat: no-repeat;
    background-position: 15px;
}
.sendmail .mail-view  button {
    width: 100px;
    height: 48px;
    padding: 0px;
    margin-left: 50px;
}
a {
    color: #ffffff;
}
.discover{
    padding: 0px 10%;
}
.discover p {
    font-size: 20px;
    color: black;
}

.discover .carousel-wrap .disc-item .item img {
    width: 350px;
    height: 255px;
}
.owl-carousel .owl-item img {
    width: auto;
    display: inline-block;
}
.clear-fix {
    width: 100%;
    height: 50px;
}

.columnss{
    padding: 0px 10%;
}
.columnss .item .img-shape {
    position: absolute;
    margin-left: 90%;
}
.columnss .item .img-backgr {
    width: 410px;
}
.columnss .item .item-star {
    width: 80px;
    height: 30px;
    text-align: center;
    color: #ffffff;
    background-color: rgba(238, 78, 4, 0.986);
    position: absolute;
    margin-top: -15%;
    background-image: url('/img/icon/Star\ 1.svg');
    background-repeat: no-repeat;
    background-position: 15px;
    padding: 3px 37px;
}
.columnss .list-item .item-star {
    width: 80px;
    height: 30px;
    text-align: center;
    color: #ffffff;
    background-color: rgba(238, 78, 4, 0.986);
    position: absolute;
    margin-top: -50px;
    background-image: url('/img/icon/Star\ 1.svg');
    background-repeat: no-repeat;
    background-position: 15px;
    padding: 3px 37px;
}
.columnss .list-item .img-shape {
    position: absolute;
    margin-left: 310px;
}
.columnss .item .item-day .list-span {
    float: right;
}
.item-infor .item-map {
    margin-top: 19px;
}
.item-infor .item-map img ,
.item-infor .item-day img{
    margin-right: 9px;
}
.item-infor .item-day  {
    margin-top: 9px;
}
.item-infor .item-day .list-span b {
    margin-left: 10px;
    font-size: 20px;
    
}
.item-infor .item-day .list-span {
    margin-left: 80px;
    text-align: right;
}
.list-tour .columnss .list-tour-head h2 {
    padding-left: 12px !important;
}
.list-tour .columnss .list-tour-head {
    height: 150px;
    padding: 0px;
}
.columnss .filter .filter-all{
    margin-right: 25px;
    border: 1px solid;
    width: 120px;
    height: 38px;
    padding: 6px 0px 10px 16px;
    float: right;
    background-image: url('/img/icon/X.svg') ;
    background-repeat: no-repeat;
    background-position: 80px;
    margin-top: -130px;
}
.columnss .filter .filter-all{
    color:#1C1C1E;
}
footer {
    background-color: #1C1C1E;
    color: #ffffff;
    height: 430px;
    width: 1440px;
    margin: 0px auto;
}
li{
    list-style-type: none;
    height: 30px;
    margin: 20%;
    width: 140px;
}
.footer-right {
    font-size: 14px;
    margin-top: 70px ;
    margin-left: 160px;
    padding: 0px;
}
.footer-content {
    height: 395px;
    display: flex;
}
.footer-text{
    margin-top: 20%;
}
.footer-text p,.header-logo p {
    color: #ffffff;
    width: 80px;
    margin-left: 30px;
    margin-top: -30px;
}
footer .footer-bottom {
    text-align: center;
    background-color: black;
    height: 40px;
}
footer .footer-bottom p {
    padding-top: 10px;
    color: #ffffff;
}
footer .logo {
    margin-left: 150px;
}
footer .footer-menu1 {
    margin-top:  40px;
    margin-left:  180px;
}
footer .footer-menu2 {
    margin-top:  40px;
    margin-left:  10px;
}
footer .contact-div {
    display: flex;
    margin-bottom: 24px;
}
footer .footer-right .footer-p {
    width: 230px;
    margin-left: 10px;
}
footer .footer-right .footer-p p {
    color: #ffffff;
}
footer .footer-right .footer-img {
    width: 16px;
    height: 18px;
}
header {
    height: 730px;
    background-image: url("/img/backgroud.png");
}
.header-top {
    padding-top: 3%;
}
.header-top .header-menu ul li{
    display: inline;
    margin: 0px 20px;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
}
.header-top .header-menu ul {
    color: #ffffff;
    margin: 0px;
    padding-top: 30px ;
}
.header-top .header-menu ul li a:hover{
    color: red;
}
.header-content {
    height: 500px;
}
.header-content .header-text {
    margin-top: 10%;
}
.header-content .header-text p,
.header-content .header-text h1{
    color: #ffffff;
}
.header-content .header-text h1 {
    width: 65%;
    margin-top: 0px;
    line-height: 140%;
    font-weight: 900;
}
form {
    height: 385px;
}
header .header-from {
    background-color: rgba(255, 255, 255, 0.704);
    width: 410px;
    margin-top: 10%;
    height: 505px;
    text-align: center;
}
.header-from .header-from-group input,
.header-from .header-from-group select  {
    width: 100%;
    height: 100%;
    float: right;
    border: none;
    padding: 0px 60px;
    margin: 0px;
    background-repeat:no-repeat;
    background-position:20px;
}
.header-from .header-from-group .from-input-name {
    background-image:url('/img/icon/search.svg');
}
.header-from .header-from-group .from-input-map {
    background-image:url('/img/icon/map.svg');
}
.header-from .header-from-group .from-input-time  {
    background-image:url('/img/icon/time.svg');
}
 
.header-from .header-from-group select {
    background-image:url('/img/icon/tour.svg');
}
.header-from .header-from-group {
    width: 350px ;
    height: 60px;
    margin: 10px auto;
}
.header-from .header-from-group .from-input-submit  {
    background-image:url('/img/icon/search-white.svg');
    background-repeat:no-repeat;
    background-position:120px;
}
.header-from .header-from-group img {
    margin: 15px;
}
.header-from .submit ,
.header-from .submit input{
    background-color: #FF7B42;
}
p{
    margin: 0px;
}
/*.header-from .submit img {
    position: absolute;
}*/
.header-bottom {
    width: 804px;
    height: 106px;
    background-color: #ffffff;
    /* position: relative; */
}
.header-bottom .header-bottom-featured {
    width: 200px;
    font-size: 22px;
    margin-left: 25%;
    padding: 15px 0px;
}
.header-bottom .header-bottom-featured img{
    margin: 15px;
}
.header-bottom-list ul li{
    margin: 0px 20px;
    display: inline;
    width: 150px;
}
.header-bottom-list ul li b {
    font-size: 26px;
}
.header-bottom-list ul {
    margin-left: 25% ;
    margin-bottom: 0px;
}
header .header-top .header-logo ,
header .header-content .header-text{
    margin-left: -70px;
}
header .header-bottom {
    margin-left: -65px;
}
.intro {
    /* height: 600px; */
    width: 100%;
    /* margin: 0px auto; */
    padding-top: 200px;
}
.intro .intro-img {
    width: 500px;
    height: 600px;
}
.intro .intro-img .intro-img-1 img{
    width: 350px;
}
.intro .intro-img .intro-img-2 {
    width: 270px;
    height: 270px;
    position: absolute;
    margin-left: 30%;
    margin-top: -40%;
}
.intro .intro-text h2{
    margin: 0px;
    margin-bottom: 30px;
}
.footer-group-icon {
    padding-top:50px;
}
.footer-group-icon img {
    margin-right:40px;
}
.intro .intro-text h2 b ,
.sendmail div h2 b {
    color: #FF7B42;
    font-weight: normal;
}
.intro-text-list p{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
}

/*thank-page*/
.thankpage {
    background-image: url('/img/backgroud.png');
    height: 1024px;
    background-repeat:no-repeat;
    background-size: 1440px 1024px;
    padding: 215px;
}
.thank-from {
    width: 845px;
    height: 530px;
    background-color:#ffffff;
    margin: auto;
    text-align:center;
    padding:115px 0px;
}
.thank-from h1{
    font-size :64px;
    line-height :64px;
    color:#FF7B42;
}
.thank-from p {
    font-size: 18px;
    line-height : 24px;
    width: 583px;
    margin:auto;
    padding: 46px 0px;
}
.thank-from .thank-back {
    width : 230px;
    background-color:#FF7B42;
    height: 54px;
    font-size:16px;
    line-height:24px;
    color:#ffffff;
    border:none;
}
/* thank-page */
/* list-our */
.list-tour .filter-form {
    width: 351px;
    height: 790px;
    background:#FFFFFF;
    position: absolute;
    z-index: 100;
    float: right;
    margin-left: 698px;
    margin-top: -30px;    
    padding: 24px;
    border: 1px solid #ababab;
}
.wapper .list-pagination {
    width: 1440px;
    height: 150px;
    display: flex;
}
.wapper .list-pagination .page-item {
    width: 48px;
    height: 48px;
    margin: 10px;
}

.wapper .list-pagination .page-item .page-link {
    text-decoration: none;
    border: none;
    width: 48px;
    height: 48px;
    padding: 15px 11px 15px 18px;
    background-color: #E8E9EA;
}
.wapper .list-pagination .page-item .active {
    background-color:black;
    color: #ffffff;
}
.wapper .list-pagination .pagination {
    
    margin-right: 65px;
}
.wapper .list-pagination nav {
    margin-left: 110px;
}
.pagination-text {
    padding-left: 500px;
    width: 900px;
    height: 100px;
    margin-top: 30px;
}
.pagination-text p {
    text-align: center;
    height: 17px;
}
/*  */
.range-slide {
    position: relative; 
    margin-top: 40px;
    height: 4px;
    width: 300px;
}
  
.slide {
    position: absolute;
    top: 0;
    height: 4px;
    background: #ccc;
    left: 9px;
    right: 9px;
}
  
.line {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 4px;
    background-color: red;
}
  
.thumb {
    position: absolute;
    z-index: 2;
    text-align: left;
    border: 3px solid #FF7B42;
    
    border-radius: 50%;
    outline: none;
    top: -7px;
    height: 18px;
    width: 18px;
    margin-left: -9px;
}
  #thumbMax{
    left: 100%;
}
  #thumbMin {
    left: 0%;
}
.filter-form .range-slide input {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
    pointer-events: none;
    z-index: 3;
    height: 3px;
    top: 0;
    width: 100%;
    opacity: 0;
    margin: 0;
}
  
.filter-form .range-slide input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    pointer-events: all;
    border-radius: 50%;
    cursor: pointer;
    width: 18px;
    height: 18px;
}
  
.display {
    margin: 0px 40px;
    display: flex;
    width: 200px;
    justify-content: space-between;
}
  /*  */
.filter-form .filter-text {
    display: flex;
    height: 24px;
}
.filter-form .filter-text h4 {
    color: #03387D;
    margin: 0px;
    font-size: 24px;
    width: 150px;
}
.filter-form .filter-text h5 {
    margin: 0px;
    margin-left: 120px;
    color: #C4C4C4;
}
.filter-form .filter-check h5 {
    margin-bottom: 10px;
    margin-top: 0px;
    line-height: 24px;
} 
.filter-form h5 {
    margin: 20px 0px;
}
.filter-form .filter-check div input {
    width: 20px;
    height: 20px;
    margin: 10px 14px 10px 0px;
}
.filter-form .filter-check div p {
    width: 50%;
    padding-top: 5px;
}
.filter-form .filter-check div {
    display: flex;
}

.filter .filter-form .apply-filter {
    background-color: #FF7B42;
    width: 300px;
    margin-top: 20px;
}
.filter-hover {
    display: none;  
}
div.filter:hover div.filter-hover {
    display: block;
}
.checkout {
    width: 100%;
    display: flex;
    margin: 0px auto;
}
.check-list {
    width: 635px;
}
.check-list .input-flex {
    display: flex;
    flex-wrap: wrap;
}
.check-list .input-flex div {
    width: 300px;
}
.check-list div input {
    height: 54px;
    width: 300px;
    
}
.check-list  strong {
    line-height: 40px;
}
.input-flex-left {
    margin-right: 35px;
}
.input-flex-address, .check-list .input-flex-address input {
    width: 635px;
}
.check-list h2 {
    margin-bottom: 0px ;
} 
.check-list h4,
.check-list h5,
.check-form h5 {
    margin: 0px;
}
.check-list textarea {
    width: 635px;
    height: 138px;
}
.check-list .check-list-box {
    display: flex;
    margin: 10px 0px;
}
.check-list .check-list-box input[type=checkbox] {
    width: 20px;
    height: 20px;
    margin-right: 11px;
}
.check-list .check-list-box  span {
    width: 150px;
}
.check-list .check-list-ul li {
    list-style-type:disc;
    height: auto;
    width: auto;
    margin: 0px;
    margin-bottom: 15px;
}
.check-list button {
    width: 100%;
    background-color: #FF7B42;
    margin-top: 20px;
}
.check-right {
    margin-left: 150px;
}
.check-form {
    width: 400px;
    height: 450px;
    padding: 30px;
    background-color: #f4f4f4;
    margin-top: 158px;
    margin-left: 150px;
}
.check-form .checkout-map {
    background-image: url('/img/icon/map.svg');
    background-repeat: no-repeat;
    margin-top: 5px;
    padding-left: 30px;
    background-position: 2px;
}
.check-form .check-form-flex {
    display: flex;
}
.check-form .check-form-flex span {
    width: 150px;
    height: 50px;
}
.check-form .check-form-flex span strong {
    font-size: 14px;
    line-height: 24px;
    width: 150px;
}
.check-form input {
    width: 340px;
    height:64px ;
    margin: 20px 0px;
    border: none;
    background-color: #FFFFFF;
    padding: 0px;
    padding-left: 55px;
    background-repeat: no-repeat;
    background-position: 20px;
}
.check-form .checkout-inp-backgr1 {
    background-image: url('/img/icon/time.svg');
}
.check-form .checkout-inp-backgr2 {
    background-image: url('/img/icon/group.svg');
}
.check-form-flex .check-code {
    width: 200px;
    height : 56px;
    padding-left: 20px;
}
.check-form-flex .check-apply {
    width: 111px;
    height: 56px;
    border: 1px solid #FF7B42;
    margin-left: 30px;
    padding: 0px;
    text-align: center;
    color: #FF7B42;
    line-height: 40px;
    font-weight: 900;
}
.check-total {
    background-color: #1C1C1E;
    width: 400px;
    height: 80px;
    margin-left: 150px;
    display: flex;
    padding: 30px;
}
.check-total p {
    width: 50%;
    color: #ffffff;
}
.check-total .total-numb {
    text-align: right;
}
/* tour detail */
.tour-detail {
    height: 132px;
    background-color:#FFFFFF;
    background-image: none;
}
.tour-detail .header-top p,
.tour-detail .header-top a {
color: #1C1C1E;
}
.tour-detail .header-top {
    padding: 20px 0px 0px;
}
/*  */
/* Hide the images by default */
.tour-detail-content {
    width: 100%;
    display: flex;
}
.tour-show {
    width: 880px;
    padding-left: 165px;
}
.mySlides {
    display: none;
    width: 635px;
    height: 545px;
}
.mySlides img {
    width: 635px;
    height: 545px;
}
  /* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}
  
  /* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    margin-top: 250px;
    /* -webkit-user-select: none; */
}
  
  /* Position the "next button" to the right */
.next {
    right: 0;
    margin-right: 770px;
}
  
  /* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
  
  /* Number text (1/3 etc) */
  
  /* Container for image text */
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}
  
  /* Six columns side by side */
.column {
    float: left;
    margin: 20px 0px;
    width: 167px;
    padding: 0px;
}
.column img {
    width: 167px;
    height: 97px;
    padding-right: 30px ;
} 
  /* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
}
  
.active,
.demo:hover {
    opacity: 1;
}

  /*  */
.tour-side h2 {
    margin: 0px 165px ;
    width: 745px;
    line-height: 36px;
}
.tour-side .tour-side-map {
    background-image: url('/img/icon/map.svg');
    background-repeat: no-repeat;
    padding-left: 30px;
    margin: 20px 0px 20px 165px;
}
.tour-side .tour-side-review {
    margin: 0px 0px 40px 165px;
    display: flex;
}
.tour-side .tour-side-star {
    width: 65px;
    height: 30px;
    background-color: #FF7B42;
    padding-left: 33px;
    padding-top: 3px;
    background-image: url('/img/icon/Star\ 1.svg');
    background-repeat: no-repeat;
    background-position: 11px;
    color: #ffffff;
    margin-right: 30px;
}
.tour-detail-content .tour-show .tour-show-stick {
    position: absolute;
    margin-left: 582px;
}
/*  */
.tour-detail-menu ul li {
    margin: 0px 70px 0px 0px;
    display: inline;
    width: 150px;
    line-height: 28px;
    font-size: 24px;
}
.tour-detail-menu ul li a {
    color: #888888;
}
.actives {
    color: #FF7B42 !important ;
}
.tour-detail-list {
    width: 635px;
}
.tour-detail-list .tour-overview ul li {
    list-style-type:disc;
    height: auto;
    width: auto;
    margin: 0px;
    margin-bottom: 15px;
}
/*      */
.day {
    padding: 20px 35px 20px 20px;
    background-color:#F4F4F4;
    /* border: 1px solid #1C1C1E; */
    margin-bottom: 30px;
}
.day .day-molo strong {
   color: #04316A;
   font-size: 18px;
   line-height: 30px;
}
.day .day-molo img {
    float: right;
}
.day-molo-list {
    display: flex;
    margin-top: 30px;
    display: none;
}
.day-molo-list img {
    width: 16px;
    height: 20px;
    margin-right: 20px;
}
.day-molo-content strong {
    color: #04316A;
}
.day-molo-content {
    font-size: 18px ;
    line-height: 30px ;
}
.day-molo-content .duration {
    margin-top: 20px;
}
.day:hover .day-molo-list {
    display: flex;
}
.day:hover .day{
    border: none;
}
.tour-detail-form {
    width: 400px;
    background-color: #F4F4F4;
    height: 500px;
}
.tour-detail-form .form-tour-detail {
    margin: 0px;
}
.tour-detail-form .tour-from {
    padding: 24px 30px 20px; 
}
.tour-detail-form .tour-from strong {
    font-size: 20px;
    line-height: 32px;
    margin-left: 10px;
}
.tour-detail-total {
    margin-left: -30px;
    background-color: #F4F4F4;
    font-size: 20px;
    line-height: 32px;
}
.tour-detail-form .tour-detail-total p{
    color:#1C1C1E;
    font-size: 20px;
    line-height: 32px;
    
}
.tour-detail-book .from-input-submit{
    color: #FFFFFF;
    background-color: #FF7B42;
    text-align: center;
    padding: 0px;
    margin: 10px 0px 25px;
    
}
.tour-detail-list h5 {
    font-size: 20px;
    font-weight: bold ;
    margin: 26px 0px 10px;
}
.related-tours {
    padding: 0px auto ;
    margin-bottom: 80px;
}
.related-slider {
    padding-left: 20px;
    font-weight: bold;
}
video {
    width:635px;
    height: 400px;
    margin: 30px 0px;
}
.tour-detail-list {
    /* display: none; */
}
/* .review-play {
    display: block;
} */

/*     */
.addition-play ul li{
    list-style-type:disc;
    height: auto;
    width: auto;
    margin: 0px;
    margin-bottom: 5px;
}
.faq {
    background-color: #F4F4F4;
    padding: 20px 17px 20px 14px;
    margin: 20px 0px ;
}
.faq-list-title {
    display: flex;
}
.faq-list .faq-title{
    color:#04316A;
    width: 535px;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
}
.faq-list-title .faq-help {
    width: 20px;
    height: 20px;
    margin-right: 20px;
    margin-top: 5px;
}
.faq-list-title .faq-tick {
    width: 16px;
    height: 8px;
    margin-top: 10px;
}
.faq-content {
    padding: 0px 40px;
    display: none;
}
.faq-content p {
    width: 535px;
}
.faq-list:hover .faq-content {
    display: block;
}
.review-form {
    background-color: #f4f4f4;
    width: auto;
    height: 300px;
    display: flex;
}
.review-form-left {
    width: 33%;
    padding: 100px 25px;
    text-align: center;
}
.review-form-right {
    width: 66%;
}
.review-clear {
    width: 1px;
    height: 240px;
    margin: 36px 0px 24px;
    background-color: #C4C4C4;
}
.review-form-left strong {
    font-size: 48px;
    line-height: 72px;
    font-weight: 600;
}